.introduction{
    position: relative;
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("./perro.jpg");
    background-size: cover;
    background-position: top;
}

